<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        About myself
    </h1>
    <h6>
        This is the website for COSI-103A PA04. There is a transaction page where you are able to store all of your transactions and 
        sort them by amount, category, date, and description. You can also group by these transactions by category.
    </h6>
    <p>
        Author: Xu (Charles) Cai
        <ul>
          <li>A sophomore major in Computer Science</li>
          <li><a href="https://github.com/XuCai021130">My github page</a></li>
          <li>20 years old</li>
        
    </p>
</body>

</html>